/* @font-face {
    font-family: "Honeybee";
    src: url(fonts\honeybee-font/Honeybeeregular-MG0p.ttf);
}

h1{
    color:  rgb(53, 0, 53);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

#board{
    display: grid;
    grid-template-columns: repeat(50, 8px);
    grid-template-rows: repeat(50, 8px);
    width: 400px;
    height: 400px;
    background-color: rgb(53, 0, 53);
    padding: 10px;
}

body{
    background-color: pink;
    background-image: url("fleecy bg 2.jpg");
}

.snk, #se{
    background-color: rgb(244, 250, 235);
    width: 8px;
    height: 8px;
}

.appl{
    background-color: magenta;
    width: 8px;
    height: 8px;
}

#start{
    color: rgb(244, 250, 235);
    font-weight: 200px;
    background-color: magenta;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

#startover{
    color: rgb(244, 250, 235);
    font-weight: 200px;
    background-color: magenta;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
} */

#se{
    border: 1px solid red;
    background-color:red;
    width: 100px;
    height: 100px;
    position: relative;

  }


  #board{
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    width: 500px;
    height: 400px;
    border: 1px solid #000;
  }

  .cell{
    
    width: 100px;
    height: 100px;

  }
